html{
    box-sizing: border-box;
}

html,
body{
    height: 100%;
}

*,
*::before,
*::after{
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body{
    font-family: sans-serif;
}

.wrapper{
    min-height: 100%; /*чтобы это работало, нужно задать высоту родителю (html, body)*/
    display: flex;
    flex-direction: column;
}

.container{
    max-width: 1220px;
    padding: 25px 10px;
    margin: 0 auto;
}

.header{
    height: 200px;
    background-color: #0db06e;
    position: sticky;/*для того, чтобы header прилип к верху при прокрутке*/
    top: 0;/*для того, чтобы header прилип к верху при прокрутке*/
    /* position: fixed;*/ /*другой вариант для фиксирования header*/
    /*top: 0; *//*другой вариант для фиксирования header*/
   /* left: 0;*//*другой вариант для фиксирования header*/
   /* right: 0; *//*другой вариант для фиксирования header*/
}

.main{
    background-color: #ccc;
    flex-grow: 1;
}

.footer{
    height: 200px;
    background-color: #000;
}